*{
  font-family: 'Slabo 27px', serif;
}
.upperCase{
  text-transform: capitalize;
}
.center{
  text-align: center;
}
/* .div-responsive{
  padding-top: 100%;
  position:relative;
  width: 100%;
}
.img-responsive{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
} */
/*------------------------------NAVBAR--------------------------------*/
.navbar{
  height: 75px;
}
.bg-home, .btn-home{
  background: #1e5691;
  color: white;
}
.btn-home:hover{
  color: silver;
}
a.navbar-brand{
  margin-left: 8px;
}
a.navbar-brand:hover{
  text-shadow: 1px 1px 4px whitesmoke;
}
a.navbar-brand:hover #logo{
  transform: rotate(360deg) scale(0.7,0.7);
  transition: 1s all;
}
#logo{
  width: 50px;
  height: 55px;
  transition: 1s all;
}
#show-menu-div{
  position: absolute;
  left: 48.5%;
  padding: 3.5px 7px;
  border: 3px solid white ;
  border-radius: 50px;
  height: 42px;
  width: 42px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.3s all;
}
#show-menu-div:hover{
  border-color: silver;
  color: silver;
  transform: scale(1);
  transition: 0.3s all;
}
#show-menu-link{
  color: white;
  transition: 0.3s all;
}
#show-menu-div:hover #show-menu-link{
  color: silver;
  transition: 0.3s all;
}
#show-menu-link span{
  font-size: 25px;
}
#show-menu-sm-div{
  display: none;
  position: fixed;
  top: 75px;
  left:-5px;
  padding: 3px;
  height: 42px;
  width: 42px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background-color: #1e5691;
  z-index: 2000;
  transform: scale(0.8);
  transition: 0.3s all;
}
#show-menu-sm-div:hover{
  left: 0;
  border-color: silver;
  color: silver;
  transform: scale(1);
  transition: 0.3s all;
}
#show-menu-sm-link{
  display: block;
  width: 100%;
  height:100%;
  color: white;
  transition: 0.3s all;
}
#show-menu-sm-div:hover #show-menu-sm-link{
  color: silver;
  transition: 0.3s all;
}
#show-menu-sm-link span{
  font-size: 32px;
}
#menu-div{
  display: none;
  width: 100%;
  height: 100%;
  /* background-color: rgba(192,192,192,0.7); */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}
#control-menu{
  width: 100%;
  min-height: 50%;
  margin: 75px 0 0 0;
  background-color: rgba(30,86,145,0.9);
  position: relative;
  padding: 20px;
  transition: 0.3s all;
}
.control-menu-items{
  width: 70%;
  margin: 0 auto;
}
a.control-menu-item{
  display: inline-block;
  height: 35px;
  box-sizing: border-box;
  padding: 10px 8px 0 2px;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.3s all;
}
a.control-menu-item:hover{
  border-bottom: 2px;
  border-color: silver;
  border-bottom-style: solid;
  transition: 0.3s all;
}
span.close{
  position: absolute;
  top: 5px;
  right: 10px;
}
#search{
  background: none;
  border:0;
  position: absolute;
  top:8px;
  right: 8px;
  cursor: pointer;
  color: silver;
}
#search:hover{
  color: #1e5691;
}
#show-search-form{
  margin: 0;
  position: relative;
  right: 2.2rem;

  color: white;
  cursor: pointer;
}
#show-search-form:hover{
  color: silver;
}
#search-form{
  display: inline-block;
  position: relative;
  right: 1.5rem;
}
#logout{
  position: absolute;
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 0;
  top: 25px;
  right: 1rem;
}
#logout .glyphicon {
   top: 0px;
}
@-moz-document url-prefix() {
  #logout .glyphicon {
     top: 3px;
  }
}
.modal-content{
  color: grey;
}
#search-img{
  width: 20px;
  height: 20px;
}
/*------------------------------container--------------------------------*/
.container{
  padding-top: 20px;
}
table.info tr th{
  width: 140px;
}
div.controls h4{
  padding-top: 10px;
}
div.controls{
  position: relative;
  margin-bottom: 20px;
}
div.controls div.btn-group{
  position: absolute !important;
  top: 0;
  right: 5px;
}
h4>a{
  color: #212529;
}
h4>a:hover{
  color: #1e5691;
  text-decoration: none;
}
.page-link{
  color: #1e5691;
}
.page-item.active .page-link{
  background-color: #1e5691;
  border-color: silver;
}
/*------------------------------CARDS--------------------------------*/
div.card img.card-img-top{
  transform: scale(1);
}
div.card:hover  img.card-img-top{
  opacity: 0.7;
  -webkit-animation: zoom-out 0.3s ease-in-out;
  -moz-animation: zoom-out 0.3s ease-in-out;
  animation: zoom-out 0.3s ease-in-out;
  transition: 1s all;
}

@keyframes zoom-out {
  0%{transform: scale(1);}
  50%{transform: scale(0.97);}
  100%{transform: scale(1);}
}
@-webkit-keyframes zoom-out {
  0%{-webkit-transform: scale(1);}
  50%{-webkit-transform: scale(0.97);}
  100%{-webkit-transform: scale(1);}
}
@-moz-keyframes zoom-out {
  0%{-moz-transform: scale(1);}
  50%{-moz-transform: scale(0.97);}
  100%{-moz-transform: scale(1);}
}
img.profile{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
  transition: 1s opacity;
}
#profile-div:hover img.profile{
  opacity: 0.6;
  transition: 1s opacity;
}
#profile-div{
  position: relative;
  cursor: pointer;
  z-index: 1000;
}
#profile-div span.glyphicon-picture{
  display: none;
  z-index: -1;
  position: absolute;
  top: 47%;
  right: 47%;
  font-size: 30px;
  transition: 1s all;
}
#profile-div:hover span.glyphicon-picture{
  display: inline;
  color: grey;
  transition: 1s all;
}
#profile-div form #photo{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}
img#diagnose_chart{
  display: block;
  width: 500px;
  height: 700px;
  margin: 0 auto;
}
/*------------------------------FORM--------------------------------*/
form#form-login{
  background: #e7e7e7;
  color: rgb(88, 88, 88);
  padding: 20px;
  margin-top:20px;
  border-radius: 6px;
}
#form-login h3{
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
#form-login label{
  text-align: center;
}
.btn-login{
  margin:0 auto;
  display:block;
  color : white;
  background-color: #1e5691;
}
.btn-login:hover{
  color : #1e5691;
  background-color: white;
  transition: 1s all;
}
textarea{
  resize: none;
  height: 130px;
}
.submit-btn{
  display: block;
  margin: 0 auto;
}
#photo{
  cursor: pointer;
}

/*------------------------------FOOTER--------------------------------*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
footer{
  margin-top: 30px;
  background-color: #e7e7e7;
  text-align: center;
}
footer>address{
  color: rgb(88, 88, 88);
  padding: 15px;
  margin: 0;
}

/*-----------------------------------MEDIA-QUERIES-------------------------------------*/
@media (max-width : 576px) {
  #show-menu-sm-div{
    display: block;
  }
  #show-menu-div{
    display: none;
  }
}
